body {
	background-color: black;
}

.font{
	color:  silver;
	font-size: 1.2em;
}
.thumbnail {
  font-family: courier, helvetica, sans-serif;
}
div.top {
	padding-bottom: 0px;
	text-align: center;
	word-wrap: break-word;
}


div.middle {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

div.seattle {
	margin-bottom: 50px;


}

html {  
      scroll-behavior: smooth;  
}








